.field {
  position: relative;
}

.field__label {
  position: absolute;
  top: 0.25em;
  left: 4px;
  font-size: 0.85em;
  color: darkgray;
  transition-duration: 0.2s;
}

.field__input:not(:placeholder-shown) + .field__label {
  color: black;
  scale: 0.7;
  translate: -0.5em -1.25em;
}
